In [3]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [161]:
path = r'/Users/hannahstrassmann/Desktop/Achievment four Project/two Data'

In [5]:
# Importing df_ords_prods_merge
df_ords_prods_merge = pd.read_pickle(os.path.join(path, 'Prepared Data', 'ords_prods_merge.pkl'))

In [6]:
# Creating subset of df_ords_prods_merge (1000000 rows)
df = df_ords_prods_merge[:1000000]

In [7]:
df.shape

(1000000, 14)

In [8]:
df.head(10)

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both
5,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
6,2398795,1,2,3,7,15.0,10258,2,0,Pistachios,117,19,3.0,both
7,2398795,1,2,3,7,15.0,12427,3,1,Original Beef Jerky,23,19,4.4,both
8,2398795,1,2,3,7,15.0,13176,4,0,Bag of Organic Bananas,24,4,10.3,both
9,2398795,1,2,3,7,15.0,26088,5,1,Aged White Cheddar Popcorn,23,19,4.7,both

In [9]:
# Creating user-defined function
def price_label(row):
    
    if row['prices'] <= 5:
        return 'low-range product'
    elif (row['prices'] > 5) and (row ['prices'] <= 15):
        return 'mid-range roduct'
    elif row ['prices'] > 15:
        return 'high-range product'
    else: return 'not enough data'

In [10]:
# Creating price_range on subset of df_ords_prods_merge using user-defined function
df['price_range'] = df.apply(price_label, axis = 1)

/var/folders/pb/ntsf5rfn1rs9pmdn1yzhjxnw0000gn/T/ipykernel_28219/3720154099.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis = 1)

In [11]:
df['price_range'].value_counts (dropna = False)

price_range
mid-range roduct      673183
low-range product     314392
high-range product     12425
Name: count, dtype: int64

In [12]:
df['prices'].max()

99999.0

In [13]:
df['price_range'].tail()

999995     mid-range roduct
999996     mid-range roduct
999997    low-range product
999998     mid-range roduct
999999    low-range product
Name: price_range, dtype: object

In [14]:
df['price_range'].shape

(1000000,)

In [15]:
# Creating price_range_loc on subset of df_ords_prods_merge
df.loc[df['prices']>15, 'price_range_loc'] = 'high-range product'

/var/folders/pb/ntsf5rfn1rs9pmdn1yzhjxnw0000gn/T/ipykernel_28219/3672053582.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices']>15, 'price_range_loc'] = 'high-range product'

In [16]:
df.loc[(df['prices'] <=15) & (df['prices'] > 5), 'price_range_loc'] = 'mid-range product'

In [17]:
df.loc[df['prices'] <=5, 'price_range_loc'] = 'low-range product'

In [18]:
df['price_range_loc'].value_counts (dropna = False)

price_range_loc
mid-range product     673183
low-range product     314392
high-range product     12425
Name: count, dtype: int64

In [19]:
# Creating Price_range_loc on df_ords_prods_merge
df_ords_prods_merge.loc[df_ords_prods_merge['prices']>15, 'price_range_loc'] = 'high-range product'

In [20]:
df_ords_prods_merge.loc[(df_ords_prods_merge['prices'] <=15) & (df_ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'mid-range product'

In [21]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] <=5, 'price_range_loc'] = 'low-range product'

In [22]:
df_ords_prods_merge['price_range_loc'].value_counts (dropna = False)

price_range_loc
mid-range product     21860860
low-range product     10126321
high-range product      417678
Name: count, dtype: int64

In [23]:
for x in range (30, 45):
    print("My age is %d" % (x))

My age is 30
My age is 31
My age is 32
My age is 33
My age is 34
My age is 35
My age is 36
My age is 37
My age is 38
My age is 39
My age is 40
My age is 41
My age is 42
My age is 43
My age is 44

In [24]:
df_ords_prods_merge['orders_day_of_week'].value_counts (dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [25]:
# Creating column 'busiest day'
result = []
for value in df_ords_prods_merge["orders_day_of_week"]: 
    if value ==0:
        result.append("busiest day")
    elif value ==4:
        result.append("least busy")
    else:
        result.append("regular busy")

In [26]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,mid-range product
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,mid-range product
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both,low-range product
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,low-range product
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,low-range product

In [3]:
result

NameError: name 'result' is not defined

In [28]:
df_ords_prods_merge['busiest day'] = result

In [29]:
df_ords_prods_merge['busiest day']. value_counts (dropna = False)

busiest day
regular busy    22416875
busiest day      6204182
least busy       3783802
Name: count, dtype: int64

# Task 4.7

Creating busiest days

In [142]:
df_ords_prods_merge.loc[(df_ords_prods_merge['orders_day_of_week']).isin ([1,0]), 'busiest_days_loc'] = 'busiest days'
df_ords_prods_merge.loc[(df_ords_prods_merge['orders_day_of_week']).isin ([3,4]), 'busiest_days_loc'] = 'least busiest days'
df_ords_prods_merge.loc[(df_ords_prods_merge['orders_day_of_week']).isin ([2,5,6]),'busiest_days_loc'] = 'regular busy days'

In [108]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest day,busiest_days_loc,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,mid-range product,regular busy,regular busy,average orders
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,mid-range product,regular busy,regular busy,average orders
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both,low-range product,regular busy,regular busy,average orders
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,low-range product,regular busy,regular busy,average orders
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,low-range product,regular busy,regular busy,average orders

In [144]:
df_ords_prods_merge['busiest_days_loc'].value_counts(dropna = False)

busiest_days_loc
regular busy days     12916111
busiest days          11864412
least busiest days     7624336
Name: count, dtype: int64

3. I did the math, it is correct.

Creating busiest time of day

In [39]:
# Craeting busiest time of day with 'for loop'
df_ords_prods_merge['order_time'].value_counts (dropna= False)

order_time
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [96]:
result = []

for value in df_ords_prods_merge['order_time']: 
    if value in [9, 10, 11, 12, 13, 14, 15, 16]:
        result.append('most orders')
    elif value in [0, 1, 2, 3, 4, 5, 6, 23]:
        result.append('fewest orders')
    else:
        result.append('average orders')

In [1]:
result

NameError: name 'result' is not defined

In [97]:
df_ords_prods_merge['busiest_period_of_day'] = result

In [100]:
df_ords_prods_merge['busiest_period_of_day'].value_counts (dropna=False)

busiest_period_of_day
most orders       21118071
average orders     9997651
fewest orders      1289137
Name: count, dtype: int64

In [134]:
'exclusion lag# creating busiest time of day with loc() function ( technically I created a second busiest time of day column to make sure I don't over write what I had since I didn't know if it would work...)
df_ords_prods_merge.loc[(df_ords_prods_merge['order_time']).isin ([9, 10, 11, 12, 13, 14, 15, 16]), 'busiest_period_of_day_2'] = 'most orders 2'
df_ords_prods_merge.loc[(df_ords_prods_merge['order_time']).isin ([0, 1, 2, 3, 4, 5, 6, 23]), 'busiest_period_of_day_2'] = 'fewest orders 2'
df_ords_prods_merge.loc[(df_ords_prods_merge['order_time']).isin ([17, 18, 19, 20, 21, 22, 7, 8]), 'busiest_period_of_day_2'] = 'average orders 2'

In [136]:
df_ords_prods_merge ['busiest_period_of_day_2'].value_counts (dropna=False)

busiest_period_of_day_2
most orders 2       21118071
average orders 2     9997651
fewest orders 2      1289137
Name: count, dtype: int64

In [148]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest day,busiest_days_loc,busiest_period_of_day,busiest_period_of_day_2
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,mid-range product,regular busy,regular busy days,average orders,average orders 2
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,mid-range product,regular busy,regular busy days,average orders,average orders 2
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both,low-range product,regular busy,regular busy days,average orders,average orders 2
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,low-range product,regular busy,regular busy days,average orders,average orders 2
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,low-range product,regular busy,regular busy days,average orders,average orders 2

I did this once using loc() and once using for loop. While for the 'busiest days' column I think it was easier using loc(), because I don't have the extra step with the result[], I think for this for loop was faster because there were so many numbers to write out, as I can't do the 'else'function in loc. The result was the same.

In [165]:
df_ords_prods_merge.to_pickle(os.path.join(path,'Prepared Data', 'ords_prods_merge.pkl'))