In [4]:
#Importing Libraries
import pandas as pd
import numpy as np
import os

Importing Dataframes

In [6]:
path = r'/Users/hannahstrassmann/Desktop/Achievment four Project/two Data'

In [7]:
#Import df_orders_checked_new
df_orders_checked_new = pd.read_csv(os.path.join(path, 'Prepared Data', 'orders_checked_new.csv'), index_col = False)

In [8]:
df_orders_checked_new.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [9]:
#Import df_ords_prior
df_ords_prior = pd.read_csv(os.path.join(path, 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [10]:
df_ords_prior

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [11]:
df_orders_checked_new.shape

(3421083, 6)

In [25]:
df_ords_prior.shape

(32434489, 4)

Merging df_ords_prior and df_orders_checked_new

In [14]:
#Merging the df's
df_merged_ords_prior_orders = df_orders_checked_new.merge(df_ords_prior, on = 'order_id', indicator = True)

In [15]:
df_merged_ords_prior_orders.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [16]:
#Checking frequency of _merge
df_merged_ords_prior_orders['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [17]:
df_merged_ords_prior_orders = df_orders_checked_new.merge(df_ords_prior, on = 'order_id')

In [18]:
df_merged_ords_prior_orders['_merge'].value_counts()

KeyError: '_merge'

In [ ]:
df_merged_ords_prior_orders.head()

In [ ]:
df_merged_ords_prior_orders.to_pickle(os.path.join(path, 'Prepared Data', 'merged_orders_prior.pkl'))

In [ ]:
df_merged_ords_prior_orders.shape